<div id="app" style="padding-left: 15%; padding-right: 15%; padding-bottom: 2%;">
  <h2 style="display: flex; justify-content: center; text-align: center; color: wheat; padding: 20px;">Parivesh AI
    Assistant</h2>
  <br>
  <div id="container" #container></div>
  <form name="form" #form>

    <input name="prompt" id="prompt" style="width: 100%; height: 50px; font-size: larger; font-weight: 500"
      placeholder="Ask your Assistant..." #prompt >
    <button  type="submit"><img src="../assets/send.svg" /></button>
  </form>
</div>